.colorpicker-tab-palette {
  box-sizing: border-box;

  &__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: $colorpicker-tab-palette-header-padding;
    border-bottom: $colorpicker-tab-palette-header-border;
  }

  &__content {
    position: relative;
    overflow: hidden;
  }

  &__content-tab {
    padding: $colorpicker-tab-palette-content-padding;
    display: none;

    &.is-active {
      display: block;
      opacity: 1;
      z-index: 2;
      transition: opacity .2s;
    }
  }

  &__content-row {
    display: flex;
  }

  &__header-item,
  &__content-item {
    width: $colorpicker-tab-palette-color-width;
    min-width: $colorpicker-tab-palette-color-width;
    height: $colorpicker-tab-palette-color-height;
    min-height: $colorpicker-tab-palette-color-height;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }
  }

  &__header-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &:before {
      content: '';
      transition: visibility .2s;
      display: none;
      width: $colorpicker-tab-palette-color-checked-after-width;
      height: $colorpicker-tab-palette-color-checked-after-height;
      border: $colorpicker-tab-palette-color-checked-after-border;
      box-sizing: content-box;
    }

    &.is-checked {
      &:before {
        display: block;
      }
    }
  }

  &__content-item {
    &.is-checked {
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyMS4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iU2hhcGVfMjIzX2NvcHlfNV8xXyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayINCgkgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAxMiA4IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxMiA4OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPg0KCS5zdDB7ZmlsbC1ydWxlOmV2ZW5vZGQ7Y2xpcC1ydWxlOmV2ZW5vZGQ7ZmlsbDogI2ZmZn0NCjwvc3R5bGU+DQo8ZyBpZD0iU2hhcGVfMjIzX2NvcHlfNSI+DQoJPGc+DQoJCTxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0xMS41LDAuNGMtMC42LTAuNS0xLjUtMC41LTIuMSwwTDQuNSw0LjhMMi41LDNDMiwyLjUsMSwyLjUsMC40LDNjLTAuNiwwLjUtMC42LDEuMywwLDEuOWwzLDIuNw0KCQkJQzMuNyw3LjgsNC4xLDgsNC41LDhjMC40LDAsMC43LTAuMSwxLTAuNGw2LTUuM0MxMi4xLDEuNywxMi4xLDAuOSwxMS41LDAuNHoiLz4NCgk8L2c+DQo8L2c+DQo8L3N2Zz4NCg==');
      background-position: 51% center;
      background-repeat: no-repeat;
      background-size: 40%;
    }
  }
}