$colorpicker-bg: #fff !default;
$colorpicker-border-color: #e9ebee !default;
$colorpicker-border: 1px solid $colorpicker-border-color !default;
$colorpicker-border-radius: 3px !default;
$colorpicker-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1) !default;
$colorpicker-arrow-box-shadow: -1px 1px 1px 0 rgba(147, 157, 170, .23) !default;
$colorpicker-arrow-width: 6px !default;
$colorpicker-margin-top: 10px !default;
$colorpicker-circle-anchor-width: 30px !default;
$colorpicker-circle-anchor-height: 30px !default;
$colorpicker-circle-anchor-border: 1px solid rgba(#000, .1) !default;
$colorpicker-arrow-color: #fff !default;
$colorpicker-input-right: 10px !default;
$colorpicker-input-left: 10px !default;
$colorpicker-input-padding-left: 42px !default;
$colorpicker-input-padding-right: 42px !default;
$colorpicker-input-anchor-width: 26px !default;
$colorpicker-input-anchor-height: 26px !default;
$colorpicker-transparent-bg-url: '../../img/transparent-bg.png';
