$colorpicker-default-width: 308px !default;
$colorpicker-default-paddings: 9px 9px 7px 9px !default;
$colorpicker-default-padding: 9px !default;
$colorpicker-default-spectrum-canvas-width: 230px !default;
$colorpicker-default-spectrum-canvas-height: 230px !default;
$colorpicker-default-cursor-width: 13px !default;
$colorpicker-default-cursor-height: 13px !default;
$colorpicker-default-cursor-border: 2px solid #fff !default;
$colorpicker-default-cursor-box-shadow: 0 0 1px rgba(#000, .2) !default;
$colorpicker-default-cursor-radius: 50% !default;
$colorpicker-default-hue-and-opacity-canvas-width: 19px !default;
$colorpicker-default-hue-and-opacity-canvas-height: 230px !default;
$colorpicker-default-hue-and-opacity-canvas-margin-left: 10px !default;
$colorpicker-default-info-padding: 14px 0 0 0 !default;
$colorpicker-default-input-field-margin-right: 9px !default;
$colorpicker-default-hex-input-width: 76px !default;
$colorpicker-default-input-width: 44px !default;
$colorpicker-default-input-height: 36px !default;
$colorpicker-default-input-bg: #fff !default;
$colorpicker-default-input-border-color: #d3d9dd !default;
$colorpicker-default-input-border: 1px solid $colorpicker-default-input-border-color !default;
$colorpicker-default-input-focus-border-color: #0094f2 !default;
$colorpicker-default-input-text-color: #000 !default;
$colorpicker-default-input-placeholder-color: #939daa !default;
$colorpicker-default-input-padding: 6px 8px !default;
$colorpicker-default-input-font-size: 14px !default;
$colorpicker-default-input-transition: border .2s ease-in-out !default;
$colorpicker-default-text-color: #939daa !default;
$colorpicker-default-text-font-size: $colorpicker-default-input-font-size !default;
$colorpicker-default-text-transform: uppercase !default;
$colorpicker-default-text-margin-top: 8px !default;
$colorpicker-default-footer-padding: 10px 0 0 0 !default;
$colorpicker-default-input-margin-right: 9px !default;

