$colorpicker-material-paddings: 9px 9px 6px 9px !default;
$colorpicker-material-shade-width: 100% !default;
$colorpicker-material-shade-height: 12px !default;
$colorpicker-material-shade-margins: 14px 0 4px 0 !default;
$colorpicker-material-shade-cursor-width: 14px !default;
$colorpicker-material-shade-cursor-height: 14px !default;
$colorpicker-material-shade-cursor-top: 8px !default; // 8px because shade cursor has shadow
$colorpicker-material-shade-cursor-bg: #fff !default;
$colorpicker-material-shade-cursor-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) !default;
$colorpicker-material-shade-bg: rgba(#000, .07) !default;
$colorpicker-material-desc-color: #333 !default;
