$colorpicker-multispectral-paddings: 0 !default;
$colorpicker-multispectral-padding: 10px !default;
$colorpicker-multispectral-spectrum-width: 286px !default;
$colorpicker-multispectral-spectrum-height: 184px !default;
$colorpicker-multispectral-spectrum-canvas-width: 286px !default;
$colorpicker-multispectral-spectrum-canvas-margin: 0 -1px !default;
$colorpicker-multispectral-spectrum-cursor-width: 14px !default;
$colorpicker-multispectral-spectrum-cursor-height: 14px !default;
$colorpicker-multispectral-spectrum-cursor-box-shadow: 0 0 1px rgba(#000, .2) !default;
$colorpicker-multispectral-opacity-width: 253px !default;
$colorpicker-multispectral-opacity-height: 10px !default;
$colorpicker-multispectral-opacity-margin: 16px !default;
$colorpicker-multispectral-opacity-cursor-width: 14px !default;
$colorpicker-multispectral-opacity-cursor-height: 14px !default;
$colorpicker-multispectral-opacity-cursor-bg: #fff !default;
$colorpicker-multispectral-opacity-cursor-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) !default;
