$colorpicker-palette-padding: 10px !default;
$colorpicker-palette-color-width: 24px !default;
$colorpicker-palette-color-height: 24px !default;
$colorpicker-palette-color-margin: 9px !default;

// circle variant
$colorpicker-palette-circle-padding: 10px 0 0 10px !default;
$colorpicker-palette-circle-margin-right: 10px !default;
$colorpicker-palette-circle-margin-bottom: 10px !default;

// square variant
$colorpicker-palette-square-padding: 10px 0 0 10px !default;
$colorpicker-palette-square-margin-right: 10px !default;
$colorpicker-palette-square-margin-bottom: 10px !default;
$colorpicker-palette-square-border-radius: $colorpicker-border-radius !default;