$colorpicker-tab-palette-header-padding: 9px !default;
$colorpicker-tab-palette-header-border: 1px solid $colorpicker-border-color !default;
$colorpicker-tab-palette-content-padding: 9px !default;

$colorpicker-tab-palette-color-width: 27px !default;
$colorpicker-tab-palette-color-height: 27px !default;
$colorpicker-tab-palette-color-checked-after-width: 19px !default;
$colorpicker-tab-palette-color-checked-after-height: 19px !default;
$colorpicker-tab-palette-color-checked-after-border: 2px solid #fff !default;

// circle variant
$colorpicker-tab-palette-circle-content-padding: 9px 0 0 9px !default;
$colorpicker-tab-palette-circle-color-margin: 10px !default;
$colorpicker-tab-palette-circle-small-color-margin: 8px !default;

// square variant
$colorpicker-tab-palette-square-border-radius: $colorpicker-border-radius !default;
$colorpicker-tab-palette-square-content-padding: 9px 0 0 9px !default;
$colorpicker-tab-palette-square-color-margin: 10px !default;
$colorpicker-tab-palette-square-small-color-margin: 8px !default;
